<style>
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}
.alert.success {background-color: #4CAF50;}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#myScrollUpBtn {
  
display: none;

position: fixed;

bottom: 20px;

  right: 20px;

  z-index: 199;

  border: none;

  outline: none;

  background-color: #008080;

  color: white;

  cursor: pointer;

  padding: 15px;

  border-radius: 10px;
}



#myScrollUpBtn:hover {
 background-color: #004d4d;
}
</style>